/tool/
/lib/
CMakeFiles
/test/
/ignore/
.ninja_deps
.ninja_log
build.ninja
CMakeCache.txt
cmake_install.cmake
/_deps/
/bin/
/built/
node_modules/
out/
target/
/web/dev/src/lib/
*.wasm
/web/public/script
__pycache__/
*.vsix
/utils/
bin/
obj/
testdata/
*.profraw
go_dump_env.bat
/web/public/doc
