name: brgen-puppeteer-test
on:
  # Allows you to run this workflow manually from the Actions tab on GitHub.
  workflow_call: null
  workflow_dispatch: null

permissions:
  contents: read

jobs:
  puppeteer-test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Timeline
        uses: Kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca # v2.2.5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Download artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: brgen-web-development
          path: "./web/public"
      - name: Install Dependencies
        run:
          | # see https://github.com/puppeteer/puppeteer/blob/38582e22822674138efa0d3dbe10a22bc0a33cad/docker/Dockerfile#L12
          sudo apt-get update
          sudo apt-get install -yq fonts-ipafont-gothic fonts-wqy-zenhei fonts-thai-tlwg fonts-khmeros fonts-kacst fonts-freefont-ttf dbus dbus-x11

      - name: Fetch rebrgen
        run: |
          chmod +x ./script/fetch_rebrgen.sh
          ./script/fetch_rebrgen.sh
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Test
        run:
          | # see https://chromium.googlesource.com/chromium/src/+/main/docs/security/apparmor-userns-restrictions.md
          echo 0 | sudo tee /proc/sys/kernel/apparmor_restrict_unprivileged_userns
          cd astlib/ast2ts
          tsc || true # allow error
          cd ../../web/public
          npx http-server -p 8080 &
          cd ../dev
          npm install
          tsc || true # allow error
          sleep 5
          TEST_ENV=github node test/puppet.mjs
