# costom boilerplate file from sisakulint
name: brgen-release
run-name: release brgen

on:
  # Allows you to run this workflow manually from the Actions tab on GitHub.
  workflow_dispatch:
  workflow_call:

concurrency:
  group: release-${{github.ref_name}}
  cancel-in-progress: true

jobs:
  prepare_release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Timeline
        uses: Kesin11/actions-timeline@e018cfefea60b4f44266998551211a35a58b8097 # v3.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Download Linux artifacts (LLVM)
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: brgen-linux-llvm
          path: ./artifacts/linux-llvm
      - name: Download Linux artifacts (GCC)
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: brgen-linux-gcc
          path: ./artifacts/linux-gcc
      - name: Download MacOS artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: brgen-macos
          path: ./artifacts/macos
      - name: Download Windows artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: brgen-windows
          path: ./artifacts/windows
      - name: Download VSCode Extension artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: brgen-vscode-extension
          path: ./artifacts/vscode-extension
      - name: Download Linux ARM artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: brgen-linux-arm
          path: ./artifacts/linux-arm
      - name: Download Android artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: brgen-android
          path: ./artifacts/android
      - name: Download Web artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: brgen-web-production
          path: ./artifacts/web
      - name: Download Licenses
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: brgen-licenses
          path: ./license
      - name: Show Current Directory
        run: |
          pwd
          ls -alR .
      - name: Make License Archive
        run: |
          tar -czf artifacts/brgen-licenses.tar.gz -C license .
          cd license
          zip -r brgen-licenses.zip ./**
          mv brgen-licenses.zip ../artifacts
      - name: Copy License Archive to Each Artifact
        run: |
          cp artifacts/brgen-licenses.tar.gz artifacts/linux-llvm
          cp artifacts/brgen-licenses.tar.gz artifacts/linux-gcc
          cp artifacts/brgen-licenses.tar.gz artifacts/macos
          cp artifacts/brgen-licenses.tar.gz artifacts/windows
          cp artifacts/brgen-licenses.tar.gz artifacts/vscode-extension
          cp artifacts/brgen-licenses.tar.gz artifacts/linux-arm
          cp artifacts/brgen-licenses.tar.gz artifacts/android
          cp artifacts/brgen-licenses.zip artifacts/linux
          cp artifacts/brgen-licenses.zip artifacts/macos
          cp artifacts/brgen-licenses.zip artifacts/windows
          cp artifacts/brgen-licenses.zip artifacts/vscode-extension
          cp artifacts/brgen-licenses.zip artifacts/linux-arm
          cp artifacts/brgen-licenses.zip artifacts/android
          cp artifacts/brgen-licenses.tar.gz artifacts/web
      - name: Make Archive
        run: |
          tar -czf artifacts/brgen-linux-llvm.tar.gz -C artifacts/linux-llvm .
          tar -czf artifacts/brgen-linux-gcc.tar.gz -C artifacts/linux-gcc .
          tar -czf artifacts/brgen-linux-arm.tar.gz -C artifacts/linux-arm .
          tar -czf artifacts/brgen-macos.tar.gz -C artifacts/macos .
          tar -czf artifacts/brgen-android.tar.gz -C artifacts/android .
          tar -czf artifacts/brgen-vscode-extension.tar.gz -C artifacts/vscode-extension .
          tar -czf artifacts/brgen-web.tar.gz -C artifacts/web .
          cd artifacts/windows
          zip -r brgen-windows.zip ./**
          mv brgen-windows.zip ../
          cd ../vscode-extension
          zip -r brgen-vscode-extension.zip ./**
          mv brgen-vscode-extension.zip ../
          cd ../web
          zip -r brgen-web.zip ./**
          mv brgen-web.zip ../
      - name: Calculate SHA256
        run: |
          cd artifacts
          sha256sum brgen-linux-llvm.tar.gz > brgen-checksum.txt
          sha256sum brgen-linux-gcc.tar.gz >> brgen-checksum.txt
          sha256sum brgen-linux-arm.tar.gz >> brgen-checksum.txt
          sha256sum brgen-macos.tar.gz >> brgen-checksum.txt
          sha256sum brgen-android.tar.gz >> brgen-checksum.txt
          sha256sum brgen-windows.zip >> brgen-checksum.txt
          sha256sum brgen-vscode-extension.tar.gz >> brgen-checksum.txt
          sha256sum brgen-vscode-extension.zip >> brgen-checksum.txt
          sha256sum brgen-web.tar.gz >> brgen-checksum.txt
          sha256sum brgen-web.zip >> brgen-checksum.txt
          cd ..
      - name: Bundle Artifacts .zip and .tar.gz
        run: |
          mkdir bundle
          mv artifacts/brgen-checksum.txt bundle
          mv artifacts/brgen-linux-llvm.tar.gz bundle
          mv artifacts/brgen-linux-gcc.tar.gz bundle
          mv artifacts/brgen-linux-arm.tar.gz bundle
          mv artifacts/brgen-macos.tar.gz bundle
          mv artifacts/brgen-android.tar.gz bundle
          mv artifacts/brgen-windows.zip bundle
          mv artifacts/brgen-vscode-extension.tar.gz bundle
          mv artifacts/brgen-vscode-extension.zip bundle
          mv artifacts/brgen-web.tar.gz bundle
          mv artifacts/brgen-web.zip bundle
          tar -czf artifacts.tar.gz -C bundle .
      - name: Upload Artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: brgen-artifacts
          path: ./artifacts.tar.gz

  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    needs: prepare_release
    steps:
      - name: Timeline
        uses: Kesin11/actions-timeline@e018cfefea60b4f44266998551211a35a58b8097 # v3.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Download Artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: brgen-artifacts
          path: ./artifacts
      - name: Extract Artifacts
        run: |
          tar -xzf artifacts/artifacts.tar.gz -C ./artifacts
          ls -Ral .
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: |
            ./artifacts/brgen-checksum.txt
            ./artifacts/brgen-linux-llvm.tar.gz
            ./artifacts/brgen-linux-gcc.tar.gz
            ./artifacts/brgen-linux-arm.tar.gz
            ./artifacts/brgen-macos.tar.gz
            ./artifacts/brgen-android.tar.gz
            ./artifacts/brgen-windows.zip
            ./artifacts/brgen-vscode-extension.tar.gz
            ./artifacts/brgen-vscode-extension.zip
            ./artifacts/brgen-web.tar.gz
            ./artifacts/brgen-web.zip
          fail_on_unmatched_files: true
