name: brgen-test
run-name: brgen test
on:
  - push
jobs:
  test-linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Timeline
        uses: Kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca # v2.2.5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Ninja
        uses: seanmiddleditch/gha-setup-ninja@7e868db0f3406270dd46e1dac26c65f621456723 # master
      - name: Set up Clang
        uses: egor-tensin/setup-clang@471a6f8ef1d449dba8e1a51780e7f943572a3f99 # v2.1
        with:
          version: latest
          platform: x64
      - name: Install libc++-dev and libc++abi-dev
        run: sudo apt-get install libc++-dev libc++abi-dev -y
      - name: Build
        run: |
          . build.sh
      - name: Test
        run: |
          CTEST_OUTPUT_ON_FAILURE=1 BASE_PATH=${{ github.workspace }} ninja -C built/native/Debug test
